spring:
  application:
    name: VooDoo

  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${POSTGRES_DB:voodoo_db}
    username: ${POSTGRES_USER:voodoo_master}
    password: ${POSTGRES_PASSWORD:secret_voodoo}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: true
    properties:
      hibernate:
        format_sql: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

logging:
  level:
    org.springframework.security.config.annotation.authentication.configuration: ERROR

springdoc:
  swagger-ui:
    path: /swagger-ui.html